.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba(3, 16, 27, 0.7);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  font-family: $ff-pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;


  &::-webkit-scrollbar {
    display: none;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.modal__wrapper {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;

  @include vp-767 {
    padding: 60px 16px;
  }
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal__content {
  position: relative;
  width: 500px;
  padding: 36px 40px 44px;
  background-color: #00b3ff;
  border-radius: 3px;
  transform: translateX(-8px);
  margin: -45px auto 0;


  @include vp-767 {
    width: 100%;
    padding: 20px;
  }

  h2 {
    margin: 0;
    margin-bottom: -15px;
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
  }

  p {
    margin: 0;
    margin-bottom: 20px;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 17px;
  right: 17px;
  z-index: 1;
  width: 40px;
  height: 40px;
  padding: 0;
  background: $color-transparent;
  border: none;
  cursor: pointer;
  border-radius: 3px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 47%;
    left: 14%;
    display: block;
    width: 28px;
    height: 1px;
    background-color: $color-default-white;
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: rgba(#ff8700, 0.5);
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.modal__input {
  label.is-invalid {
    span {
      color: #ff0000;
    }
  }

  input:not([type="checkbox"]),
  textarea {
    width: 100%;
    background-color: rgba(#041827, 0.15);
    border-radius: 3px;
    border: none;

    &::placeholder {
      color: $color-default-white;
    }

    &:hover,
    &:focus {
      outline: none;
      box-shadow: 0 0 8px #ff8700;
    }

    &:active,
    &:focus-within {
      color: $color-default-white;
    }

    &:disabled {
      background-color: #c4c4c4;
    }
  }

  input:not([type="checkbox"]) {
    padding: 15px;
  }

  textarea {
    min-height: 155px;
    padding: 25px 15px;
  }

  &--checkbox {
    padding-left: 10px;
    order: 5;

    label {
      display: flex;
      align-items: center;
    }

    input {
      appearance: none;
      position: relative;
      display: block;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      border: 1px solid $color-default-white;
      border-radius: 2px;

      &:checked {
        &::after {
          content: "";
          position: absolute;
          left: 27%;
          top: 13%;
          width: 5px;
          height: 7px;
          border: solid $color-default-white;
          border-width: 0 1px 1px 0;
          transform: rotate(45deg);
        }
      }

      &:hover,
      &:focus {
        outline: none;
        border-color: rgba(#ff8700, 0.5);
        box-shadow: 1px 1px 1px #ff8700;
      }

      &:disabled {
        border: none;
        background-color: #c4c4c4;
      }
    }

    span {
      margin: 0;
      font-size: 14px;
      line-height: 15px;
    }
  }
}

.modal__submit-button {
  user-select: none;
  width: 100%;
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 13px 60px;
  border-radius: 3px;
  color: $color-default-white;
  background-color: #041427;

  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 8px #ff8700;
  }

  &:active {
    opacity: 0.7;
    background-color: #ff8700;
    box-shadow: 0 0 8px #ff8700;
  }
}
