.about {
  margin-bottom: 100px;

  @media (max-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 82px;
  }
}

.about__information {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 100px;

  @media (max-width: $tablet-width) {
    gap: 23px;
  }

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.about__image {
  grid-column: 1/2;
  grid-row: 1/-1;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.about__information-wrapper {
  &.is-active {
    [data-accordion="mobile"] {
      display: block;
    }
  }

  [data-accordion="mobile"] {
    padding-bottom: 20px;

    @media (max-width: $tablet-width) {
      padding-bottom: 0;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  h2 {
    font-family: $ff-roboto-condensed;
    color: #041827;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin: 0;
    margin-bottom: 15px;

    @media (max-width: $tablet-width) {
      margin-bottom: 10px;
    }

    @media (max-width: $mobile-width) {
      font-size: 28px;
      line-height: 39px;
    }
  }

  p {
    font-family: $ff-pt-mono;
    color: #041827;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.about__text {
  margin-top: 17px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.about__paragraph {
  @media (max-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.about__button {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 19px;
  color: #00b2ff;
  padding: 14px 59px 14px 48px;
  background-color: #ffffff;
  border: 1px solid #00b2ff;
  border-radius: 3px;
  text-transform: uppercase;
  user-select: none;


  @media (max-width: $tablet-width) {
    margin-top: 17px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 12px;
    padding: 9px 45px 9px 41px;
  }

  &:hover {
    border: 1px solid #ff8700;
    color: #ff8700;
  }

  &:focus-visible {
    outline: none;
    border: 1px solid #ff8700;
    color: #ff8700;
  }

  &:active {
    border: 1px solid #ff8700;
    color: #ff8700;
    opacity: 0.5;
  }
}
