.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  list-style-type: none;
  margin: 0;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 0;

  @media (max-width: $tablet-width) {
    margin-top: 78px;
    margin-bottom: 77px;
    gap: 24px;
    column-gap: 27px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 31px;
    margin-top: 50px;
    margin-bottom: 44px;
  }
}

.advantages__list-item {
  max-width: 595px;
  padding: 40px 45px 35px;
  box-shadow: 5px 0 0 #00b2ff inset;
  outline: 1px solid #ebebeb;
  min-height: 300px;

  @media (max-width: $tablet-width) {
    min-height: 360px;
  }

  @media (max-width: $mobile-width) {
    padding: 30px;
    padding-bottom: 35px;
    min-height: 340px;
  }

  h3 {
    margin: 0;
    margin-top: 19px;
    margin-bottom: 10px;
    color: #00b2ff;
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    @media (max-width: $tablet-width) {
      margin-top: 14px;
      margin-bottom: 8px;
    }

    @media (max-width: $mobile-width) {
      margin-top: 11px;
      margin-bottom: 9px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &--third {
    @media (max-width: $tablet-width) {
      h3 {
        margin-top: 9px;
        margin-bottom: 7px;
      }
    }

    @media (max-width: $mobile-width) {
      min-height: 325px;

      h3 {
        margin-top: 12px;
        margin-bottom: 13px;
      }
    }
  }

  &--fourth {
    @media (max-width: $tablet-width) {
      h3 {
        margin-top: 6px;
        margin-bottom: 4px;
      }
    }

    @media (max-width: $mobile-width) {
      min-height: 325px;
      padding-right: 40px;

      h3 {
        margin-top: 13px;
        margin-bottom: 14px;
      }
    }
  }

  span {
    color: #041827;
    font-family: $ff-pt-mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 1.19px;
    }
  }

  svg {
    fill: #00b2ff;
    width: 35px;
    height: 35px;

    @media (max-width: $mobile-width) {
      width: 30px;
      height: 30px;
    }
  }

  &:hover {
    background-color: #00b2ff;

    h3 {
      color: #f2f5f6;
    }

    span {
      color: #f2f5f6;
    }

    svg {
      fill: #f2f5f6;
    }
  }
}
