.form {
  padding-top: 165px;
  padding-bottom: 248px;
  display: flex;
  font-family: $ff-pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;

  @media (max-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 124px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 47px;
    padding-bottom: 90px;
  }

  form {
    min-width: 550px;

    @media (max-width: $tablet-width) {
      min-width: 100%;
    }
  }
}

.form__image-wrapper {
  padding-top: 81px;
  margin-right: 118px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.form__text-wrapper {
  h3 {
    margin: 0;
    margin-bottom: 15px;
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;

    @media (max-width: $tablet-width) {
      margin-bottom: 9px;
    }

    @media (max-width: $mobile-width) {
      font-size: 30px;
      line-height: 42px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 35px;
    line-height: 21px;

    @media (max-width: $tablet-width) {
      margin-bottom: 25px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 34px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.form__inputs-wrapper {
  max-width: 580px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
  grid-template-areas: "name phone" "textarea textarea" "submit checkbox";

  @media (max-width: $tablet-width) {
    width: 100%;
    max-width: 923px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    min-width: 270px;
    grid-template-areas: "name" "phone" "textarea" "submit" "checkbox";
  }
}

.form__input {
  .input-message.is-invalid {
    color: #ff0000;
  }

  input:not([type="checkbox"]),
  textarea {
    width: 100%;
    background-color: rgba(#041827, 0.15);
    border-radius: 3px;
    border: none;

    &::placeholder {
      color: #ffffff;
    }

    &:hover,
    &:focus {
      outline: none;
      box-shadow: 0 0 8px #ff8700;
    }

    &:active,
    &:focus-within {
      color: #ffffff;
    }

    &:disabled {
      background-color: #c4c4c4;
    }
  }

  input:not([type="checkbox"]) {
    padding: 15px;

    @media (max-width: $mobile-width) {
      padding-bottom: 17px;
    }
  }

  textarea {
    min-height: 155px;
    padding: 25px 15px;

    @media (max-width: $tablet-width) {
      padding-top: 33px;
    }

    @media (max-width: $mobile-width) {
      min-height: 180px;
      padding-top: 24px;
    }
  }

  &--name {
    grid-area: name;
  }

  &--phone {
    grid-area: phone;
  }

  &--question {
    grid-area: textarea;
  }

  &--submit {
    grid-area: submit;
    padding-top: 10px;

    @media (max-width: $tablet-width) {
      padding-top: 11px;
    }

    @media (max-width: $mobile-width) {
      padding-top: 4px;
    }
  }

  &--checkbox {
    grid-area: checkbox;
    padding-top: 27px;
    padding-left: 11px;

    &.is-invalid {
      span {
        color: #ff0000;
      }
    }

    label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    input {
      appearance: none;
      display: block;
      position: relative;
      min-width: 15px;
      max-width: 15px;
      height: 15px;
      margin-right: 10px;
      border: 1px solid #ffffff;
      border-radius: 2px;

      &:checked {
        &::after {
          content: "";
          position: absolute;
          left: 22%;
          top: 13%;
          width: 5px;
          height: 7px;
          border: solid #ffffff;
          border-width: 0 1px 1px 0;
          transform: rotate(45deg);
        }
      }

      &:hover,
      &:focus {
        outline: none;
        border-color: rgba(#ff8700, 0.5);
        box-shadow: 1px 1px 1px #ff8700;
      }

      &:disabled {
        border: none;
        background-color: #c4c4c4;
      }


      @media (max-width: $tablet-width) {
        width: 18px;
      }

      @media (max-width: $mobile-width) {
        width: 19px;
      }
    }

    span {
      max-width: 235px;
      margin: 0;
      font-size: 14px;
      line-height: 15px;
    }

    @media (max-width: $tablet-width) {
      padding-left: 0;
      padding-top: 21px;
    }

    @media (max-width: $mobile-width) {
      padding-top: 5px;
      padding-left: 5px;
    }
  }
}

.form__submit-button {
  width: 100%;
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 13px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 3px;
  color: #ffffff;
  background-color: #041427;
  user-select: none;

  &:hover {
    box-shadow: 0 0 8px #ff8700;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 8px #ff8700;
  }

  &:active {
    opacity: 0.7;
    background-color: #ff8700;
    box-shadow: 0 0 8px #ff8700;
  }

  @media (max-width: $tablet-width) {
    max-width: 265px;
    padding-top: 16px;
    padding-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
  }
}
