.page__promo {
  margin-top: -120px;
  background-image: url("../img/background_1x.jpg");
  background-color: #041827;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 880px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background_2x.jpg");
  }

  @media (max-width: $tablet-width) {
    margin-top: -100px;
    min-height: 620px;
  }

  @media (max-width: $mobile-width) {
    margin-top: -70px;
    min-height: 560px;
  }
}

.page__promo-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 237px;
  padding-left: 125px;
  padding-bottom: 10px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-top: 106px;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 150px;
    padding-left: 0;
  }

  h2 {
    margin-bottom: 35px;
    font-family: $ff-roboto-condensed;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    color: #f2f5f6;
    text-transform: uppercase;
    letter-spacing: 5.5px;

    @media (max-width: $tablet-width) {
      font-size: 64px;
      line-height: 75px;
      margin-bottom: 1px;
      letter-spacing: 4.5px;
    }

    @media (max-width: $mobile-width) {
      margin: 0 auto;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 2.5px;
      margin-bottom: 8px;
      margin-left: 0;
    }
  }

  p {
    font-family: $ff-pt-mono;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #f2f5f6;

    @media (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 22px;
      margin: 0 auto;
      margin-bottom: 44px;
      text-align: left;
      margin-left: 0;
    }
  }

  br {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.page__products {
  background-color: #041827;
}

.page__form-wrapper {
  width: 100%;
  background-color: #00b2ff;
  background-image: linear-gradient(139deg, rgba(#041827, 0.5) 33.7%, #00b3ff 33.7% 100%);

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.page__promo-button {
  padding: 17px 25px;
  background-color: #00b2ff;
  border-radius: 3px;
  margin-left: 0;
  margin-top: 45px;
  max-width: 410px;
  display: flex;
  flex-wrap: wrap;
  user-select: none;

  @media (max-width: $tablet-width) {
    margin-top: 58px;
    margin-left: 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 12px 34px;
    max-width: 270px;
    margin: 0 auto;
    margin-left: 0;
  }

  p {
    font-family: $ff-roboto-condensed;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f2f5f6;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  span {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
      font-family: $ff-roboto-condensed;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #f2f5f6;
    }
  }

  &:hover {
    box-shadow: 0 0 8px #ff8700;
    outline: 1px solid #ff8700;
  }

  &:focus-visible {
    box-shadow: 0 0 8px #ff8700;
    outline: 1px solid #ff8700;
  }

  &:active {
    background-color: #ff8700;
  }
}
