.information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: auto;
  width: 38.5%;
  position: relative;

  h2 {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    padding-top: 5px;
    text-transform: uppercase;
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #ffffff;
    letter-spacing: 0.05em;
    user-select: none;

    @media (max-width: $tablet-width) {
      padding-top: 2px;
      margin-bottom: 23px;
    }

    @media (max-width: $mobile-width) {
      padding: 0;
      margin: 21px 0;
      margin-bottom: 15px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }

  @media (max-width: $mobile-width) {
    box-shadow: 0 1px 0 #f8fdffb2 inset,
      0 -1px 0 #f8fdffb2 inset;
    padding: 0 25px;
    margin-bottom: 0;
  }
}

.information__button {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 60px;
    top: 0;
    left: 0;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 29px;
      right: 26px;
      width: 15px;
      height: 1px;
      background-color: #e5e5e5;
    }

    &::before {
      transform: rotate(-90deg);
    }
  }
}

.information__list {
  column-count: 2;
  column-gap: 35px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &::after {
    content: "";
    width: 100%;
    height: 25px;
    display: list-item;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  }
}
